@import "./mixins";

.education-div {
  .edu-card {
    @include flexCenter(column, center, center);
    margin: 50px;
    .education-img {
      height: 500px;
      border: solid 1px orange;
      border-radius: 30px;
      margin-bottom: 20px;
    }
    .name {
      color: whitesmoke;
      font-size: 30px;
    }
    .where {
      color: whitesmoke;
      font-size: 20px;
    }
    .date {
      color: whitesmoke;
      font-size: 15px;
    }
    .description {
      color: whitesmoke;
      font-size: 20px;
    }
  }
}
