@import "./mixins";

//Mobile
@media (min-width: 100px) and (max-width: 424px) {
  .experience-div {
    @include flexCenter(column, center, center);
    .exp-card {
      @include flexCenter(column, center, center);
      margin-top: 50px;
      padding: 10px 30px 10px 30px;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(15px);
      border-radius: 20px;
      .experience-img {
        height: 200px;
        border: solid 3px orange;
        border-radius: 30px;
        margin-bottom: 20px;
        padding: 10px;
      }
      .name {
        color: whitesmoke;
        font-size: 10px;
      }
      .where {
        color: whitesmoke;
        font-size: 10px;
      }
      .date {
        color: whitesmoke;
        font-size: 10px;
      }
      .description {
        color: whitesmoke;
        font-size: 10px;
        width: 60vw;
        text-align: center;
      }
    }
  }
}

//Tablet
@media (min-width: 425px) and (max-width: 1023px) {
  .experience-div {
    @include flexCenter(column, center, center);
    .exp-card {
      @include flexCenter(column, center, center);
      margin-top: 50px;
      padding: 10px 30px 10px 30px;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(15px);
      border-radius: 20px;
      .experience-img {
        height: 200px;
        border: solid 3px orange;
        border-radius: 30px;
        margin-bottom: 20px;
        padding: 10px;
      }
      .name {
        color: whitesmoke;
        font-size: 30px;
      }
      .where {
        color: whitesmoke;
        font-size: 20px;
      }
      .date {
        color: whitesmoke;
        font-size: 15px;
      }
      .description {
        color: whitesmoke;
        font-size: 20px;
        width: 60vw;
        text-align: center;
      }
    }
  }
}

//Desktop
@media (min-width: 1024px) {
  .experience-div {
    @include flexCenter(column, center, center);
    .exp-card {
      @include flexCenter(column, center, center);
      margin-top: 50px;
      padding: 10px 30px 10px 30px;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(15px);
      border-radius: 20px;
      .experience-img {
        height: 500px;
        border: solid 3px orange;
        border-radius: 30px;
        margin-bottom: 20px;
        padding: 10px;
      }
      .name {
        color: whitesmoke;
        font-size: 30px;
      }
      .where {
        color: whitesmoke;
        font-size: 20px;
      }
      .date {
        color: whitesmoke;
        font-size: 15px;
      }
      .description {
        color: whitesmoke;
        font-size: 20px;
        text-align: center;
        width: 60vw;
      }
    }
  }
}
