@import "./mixins";

#work {
  width: 100vw;
  padding-bottom: 10%;
  @include flexCenter(column, center, left);

  .work-title {
    h2 {
      font-size: 20px;
      margin-top: 8vh;
      padding: 30px 50px;
      color: whitesmoke;
      span {
        color: orange;
      }
    }
  }
  .work-info {

    .buttons-div {
      @include flexCenter(row, space-around, center);
        margin-top: 10px;

      
      button {
      font-size: 20px;
      background-color: #433e5e;
      border: solid 1px whitesmoke;
      border-radius: 10px;
      color: white;
      padding: 14px 25px;
      text-align: left;
      text-decoration: none;
      }
    }
    .exp-edu-div {
      margin-top: 30px;
    }
  }
}
