@import "./mixins";

#work{
    width: 100vw;
    @include flexCenter(column, top, center);


    .buttons-div{
        @include flexCenter(row, space-around, center);

        margin-top: 8%;
        button{
            background-color: gray; 
            border: solid 2px whitesmoke;
            border-radius: 10px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    }
    .exp-edu-div{
        margin-top: 30px;
    }
}
