@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html{
  width: 100vw;
  overflow-x: hidden; 
}

body {
  background-image: url(https://res.cloudinary.com/dbamkolrf/image/upload/v1669369927/React-portfolio/milky-way-above-trees-and-sand-dunes_h2hjwb.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
